---
import { getCollection } from "astro:content";
import Button from "@/components/ui/button.astro";
import { formatDate } from "@/lib/utils.ts";

const articles = (await getCollection("articles")).sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()).slice(0, 3);

export function truncateDescription(description?: string, length = 155) {
    if (!description) return "";

    return description.length > length ? description.substring(0, length - 3) + "..." : description;
}
---

<section class="px-3">
    <h1 class="mb-16 text-3xl">latest blog posts</h1>
    <div class="flex flex-col gap-12">
        {
            articles.map((article) => (
                <a href={`/blog/${article.id}/`} class="group mx-auto flex w-full flex-col items-center">
                    <div class="mr-auto mb-2 flex items-center gap-2" transition:name={`${article.id}-data`}>
                        <p class="mt-1 text-muted">{formatDate(article.data.date)}</p>
                        <p class="bg-muted/10 px-2 py-0.5 text-sm">{article.data.category}</p>
                    </div>
                    <h2 class="mr-auto text-2xl font-bold group-hover:underline group-hover:opacity-70" transition:name={`${article.id}-title`}>
                        {article.data.title}
                    </h2>
                    <p class="mt-1 text-base text-muted" transition:name={`${article.id}-description`}>
                        {truncateDescription(article.data.description)}
                    </p>
                </a>
            ))
        }
    </div>
    <a href="/blog/" aria-label="Blog" class="mx-auto mt-12 flex">
        <Button class="mx-auto flex">all articles</Button>
    </a>
</section>
