---
import { getCollection } from "astro:content";
import Button from "@/components/ui/button.astro";
import { formatDate } from "@/lib/utils.ts";

const articles = (await getCollection("articles")).sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()).slice(0, 3);

export function truncateDescription(description?: string, length = 155) {
    if (!description) return "";

    return description.length > length ? description.substring(0, length - 3) + "..." : description;
}
---

<section class="px-3">
    <h1 class="text-3xl mb-16">latest blog posts</h1>
    <div class="flex flex-col gap-12">
        {
            articles.map((article) => (
                <a href={`/blog/${article.id}`} class="flex flex-col mx-auto items-center w-full group">
                    <div class="flex mb-2 gap-2 items-center mr-auto" transition:name={`${article.id}-data`}>
                        <p class="text-muted mt-1">{formatDate(article.data.date)}</p>
                        <p class="bg-muted/10 px-2 py-0.5 text-sm">{article.data.category}</p>
                    </div>
                    <h2 class="text-2xl font-bold group-hover:underline group-hover:opacity-70 mr-auto" transition:name={`${article.id}-title`}>
                        {article.data.title}
                    </h2>
                    <p class="text-muted text-base mt-1" transition:name={`${article.id}-description`}>
                        {truncateDescription(article.data.description)}
                    </p>
                </a>
            ))
        }
    </div>
    <a href="/blog" aria-label="Blog" class="mx-auto flex mt-12">
        <Button class="flex mx-auto">all articles</Button>
    </a>
</section>
