---
import Button from "@/components/ui/button.astro";

import ArrowRightIcon from "@/assets/icons/content/arrow-right.svg";
import ArrowLeftIcon from "@/assets/icons/content/arrow-left.svg";

const { prevUrl, nextUrl, currentPage, lastPage } = Astro.props;
---

<nav aria-label="Blog pages" class="flex justify-end items-center gap-6">
    {
        prevUrl ? (
            <a class="flex items-center gap-1" href={prevUrl} aria-label="Previous page">
                <Button class="w-10.5 bg-white flex justify-center" aria-label="Previous page">
                    <ArrowLeftIcon class="size-6 shrink-0" />
                </Button>
            </a>
        ) : (
            <span class="flex items-center gap-1">
                <Button disabled={true} class="w-10.5 bg-white flex justify-center" aria-label="Previous page">
                    <ArrowLeftIcon class="size-6 shrink-0" />
                </Button>
            </span>
        )
    }

    <span class="text-sm text-muted-foreground font-medium">
        {currentPage} of {lastPage}
    </span>

    {
        nextUrl ? (
            <a class="flex items-center gap-1" href={nextUrl} aria-label="Next page">
                <Button class="w-10.5 bg-white flex justify-center" aria-label="Next page">
                    <ArrowRightIcon class="size-6 shrink-0" />
                </Button>
            </a>
        ) : (
            <span class="flex items-center gap-1">
                <Button disabled={true} class="w-10.5 bg-white flex justify-center" aria-label="Next page">
                    <ArrowRightIcon class="size-6 shrink-0" />
                </Button>
            </span>
        )
    }
</nav>
